{{> head }}
{{> navbar }}

<div class="row">
  <div class="col-8">
    <h1>Esto es un Plato</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus reiciendis ipsum maiores pariatur nihil, corporis mollitia non cumque perspiciatis fugiat aperiam maxime vero dolorem quis ab, alias aspernatur iste unde.</p>
  </div>
  <div class="col-4">
    <img src="assets/img/plato.jpg"  class="img-thumbnail">
  </div>
</div>

{{> footer }}